<div class="bg-white">
  <div class="max-w-2xl mx-auto py-4 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-xl font-bold text-gray-900">Enjoy</h2>

    <div class="mt-8 grid grid-cols-1 gap-y-12 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
      <% @products.each do |price| %>
        <div>
          <div class="relative">
            <div class="relative w-full h-72 rounded-lg overflow-hidden">
              <img src="<%= price.product.images.try(:first) %>" alt="<%= price.product.description %>" class="w-full h-full object-center object-cover">
            </div>
            <div class="relative mt-4">
              <h3 class="text-sm font-medium text-gray-900"><%= price.product.name %></h3>
              <p class="mt-1 text-sm text-gray-500"><%= price.product.description %></p>
            </div>
            <div class="absolute top-0 inset-x-0 h-72 rounded-lg p-4 flex items-end justify-end overflow-hidden">
              <div aria-hidden="true" class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-black opacity-50"></div>
              <p class="relative text-lg font-semibold text-white"><%= number_to_currency(price.unit_amount/100, precision: 0) %></p>
            </div>
          </div>
          <div class="mt-6">
            <form action="/cart_items" method="post" data-remote="true">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="cart_item[price]" value="<%= price.id %>">
              <input type="hidden" name="cart_item[quantity]" value="1">
              <button type="submit" class="relative flex bg-gray-100 border border-transparent rounded-md py-2 px-8 items-center justify-center text-sm font-medium text-gray-900 hover:bg-gray-200">
                Add to Cart <span class="sr-only">, <%= price.product.name %><span>
              </button>
            </form>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
